@charset "UTF-8";
	/*--****************************************************************/
	/*--Developer Nikita Munjal of  Narrabundah Home page Website 2023 */
	/*--****************************************************************/
/*Style 2*/

html,
body {
  	padding: 0;
  	margin: 0;
	/* One Font Used*/
	font-family: 'Times Roman' ;
	/* font-family: 'Bradley hand' ; */
	scroll-behavior: smooth;
	/* background-image:url("../image/bundacrow.jpeg"); s2 */
	background-repeat: no-repeat;  /*s2*/
	background-size: 110% 110%; /*s2*/
	background-color: #e6e1dc;
}

/* # Font Sizes used for h1, h2 and paragraph */
h1{
	font-size: 44px;
	color: rgb(12, 11, 11);
}
h2{
	font-size: 32px;
}
h3{
	font-size: 22px;
}
p{
	font-size: 16px;
	text-align: left;
	margin-left: 10%;
}

header{
	width: 100%;
	height: 150px;	
}

header > img {
	width:100%;
	height:150px;

}

nav {
	/* display: flex; */
	/* This aligns the text and the buttons in the center of the Navigation Bar */
	justify-content: center;
	text-align: center;
	background-color:#090802; 
	height: 3%;
	display: inline;
}



nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #b8b3a8;
	/* position: fixed; */
	top: 0px;
	width: 100%;
  }
  nav li {
	float: left;
	margin-right: 20px;
  }
  nav li a {
	display: block;
	color: #48453f;
	text-align: center;
	padding: 10px 10px 5px 10px;
	text-decoration: future;
  }
  
  nav li a:hover {
	color: black;
	background-color: #48453f;
  }

.btn {
	/* height:20px;
	padding: 10px, 10px;
	margin: 10px; */
	border: none;
	color: #48453f;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border-radius: 15px;
	display: inline-block;
}

/*This is a CLASS bases selector that Creates a Roll Over effect on the button by reducing the Opacity */
.btn:hover {
	opacity: 50%
}


table {
	display: grid;
	flex-direction: column;
	overflow-x: auto;
	row-gap: 10px;
	padding: 10px;
	border-spacing: 10px;
	height: 96%;
	border-collapse: collapse;
	width: 98%;
	text-align: center;
	display: inline-block;

  }

  
  @media screen and (max-width: 600px) {
	/* Adjust table styles for smaller screens */
	.table-responsive {
	  width: 100%;
	  overflow-x: auto;
	}
	
	.table-responsive table {
	  width: 100%;
	}
	
	.table-responsive th,
	.table-responsive td {
	  white-space: nowrap;
	}
  }


  @media screen and (max-width: 400px) {
	/* Adjust table styles for smaller screens */
	.table-responsive {
	  width: 100%;
	  overflow-x: auto;
	}
	
	.table-responsive table {
	  width: 100%;
	}
	
	.table-responsive th,
	.table-responsive td {
	  white-space: nowrap;
	}
  }
  
  

th{
	width: 32%;
}

td{
	width: 32%;
	padding: 5px;
 	white-space: normal;
	word-wrap: break-word;
}

/* An ID Based Selector with '#' to go in here*/
/* No image appearing on a web page should be larger than 800 x 800 pixels with exception of header*/
#main>img{
	max-height: 300px;
	max-width: 400px;
}


li{
	text-align: left;
	margin: "35px";
}


main >img {
	margin: "10px";
	border: 1px solid #ccc;
	border-radius: 10px;
}
/* To align  text to the the left in the form to create symmetry */
form > table{
	text-align: left;
}

/*CLASS to ensure table spreads across the whole webpage in order for the form to have symmetry*/
.tableform{
	width:90%;
}

.zoom:hover{
	-ms-transform: scale(2);
	-webkit-transform:scale(2);
	transform: scale(2);
}


/*-S2- Code for enlarging image on mouse hover-*/
td > img:hover{
	transform: scale(1.1,1.1);
   
}

